.programme-un-jour {
	margin-bottom: 40px;
}
.programme-un-jour > div {
	padding-left: 0;
	padding-right: 0;
}
.jour {
	padding-top: 23px;
	padding-bottom: 23px;
}
.jour-date-container {
	width: 85%;
	margin: auto;
	height: 100%;
}
.film {
	padding: 0;
}
.film img {
	height: 100%;
}
.jour-date h2 {
	margin-top: 22px;
	text-transform: uppercase;
	font-size: 27px;
}
.row-jour1 .jour1 .jour-date,
.row-jour2 .jour2 .jour-date,
.row-jour3 .jour3 .jour-date,
.row-jour4 .jour4 .jour-date {
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
	color: #fff;
}
.row-jour1 .jour1 {
	background-color: #ae32c9;
}
.row-jour2 .jour2 {
	background-color: #357e6d;
}
.row-jour3 .jour3 {
	background-color: #d53a0b;
}
.row-jour4 .jour4 {
	background-color: #937215;
}
.programme {
	line-height: 1;
}

.programme-un-jour .effect-mobile {
	text-align: center;
	width: 100%;
	padding: 0;
	height: 90%;
}

.effect-mobile p {
	margin-bottom: 35px;
	font-size: 20px;
}
.effect-mobile a {
	font-size: 25px;
}
.bordureR {
	border-bottom: solid 2px #ae32c9;
	border-top: solid 3px #ae32c9;
	padding-bottom: 20px;
}
.bordureV {
	border-bottom: solid 2px #357e6d;
	border-top: solid 3px #357e6d;
	padding-bottom: 20px;
}
.bordureO {
	border-bottom: solid 2px #d53a0b;
	border-top: solid 3px #d53a0b;
	padding-bottom: 20px;
}
.bordureJ {
	border-bottom: solid 2px #937215;
	border-top: solid 3px #937215;
	padding-bottom: 20px;
}

.film img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
/************** effet de hover *****************/
.film:hover img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 10;
}
.film:hover {
	z-index: 10;
}
.row-jour1 .film:hover .jourR,
.row-jour1 .film:hover .jourR a {
	background-color: #ae32c9;
	color: #fff;
}
.row-jour2 .film:hover .jourV,
.row-jour2 .film:hover .jourV a {
	background-color: #357e6d;
	color: #fff;
}
.row-jour3 .film:hover .jourO,
.row-jour3 .film:hover .jourO a {
	background-color: #d53a0b;
	color: #fff;
}
.row-jour4 .film:hover .jourJ,
.row-jour4 .film:hover .jourJ a {
	background-color: #937215;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.programme-un-jour .effect-mobile {

		padding: 20px;

	}
}