.programme-un-jour {
	margin-bottom: 40px;
}
.programme-un-jour > div {
	padding-left: 0;
	padding-right: 0;
}
.jour {
	padding-top: 23px;
	padding-bottom: 23px;
}
.jour-date-container {
	width: 85%;
	margin: auto;
	height: 100%;
}
.film {
	padding: 0;
}
.film img {
	height: 100%;
}
.jour1 .jour-date {
	color: #ae32c9;
	border-top: solid 2px #ae32c9;
	border-bottom: solid 2px #ae32c9;
	height: 100%;
}
.jour2 .jour-date {
	color: #3c917d;
	border-top: solid 2px #3c917d;
	border-bottom: solid 2px #3c917d;
	height: 100%;
}
.jour3 .jour-date {
	color: #f56337;
	border-top: solid 2px #f56337;
	border-bottom: solid 2px #f56337;
	height: 100%;
}
.jour4 .jour-date {
	color: #e0af28;
	border-top: solid 2px #e0af28;
	border-bottom: solid 2px #e0af28;
	height: 100%;
}
.jour-date h2 {
	margin-top: 22px;
	text-transform: uppercase;
	font-size: 27px;
}
.row-jour1:hover .jour1 {
	background-color: #ae32c9;
}
.row-jour1:hover .jour1 .jour-date,
.row-jour2:hover .jour2 .jour-date,
.row-jour3:hover .jour3 .jour-date,
.row-jour4:hover .jour4 .jour-date {
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
	color: #fff;
}
.row-jour2:hover .jour2 {
	background-color: #3c917d;
}
.row-jour3:hover .jour3 {
	background-color: #f56337;
}
.row-jour4:hover .jour4 {
	background-color: #e0af28;
}
.programme {
	line-height: 1;
}
.img-film {
	margin-bottom: 20px;
}
.programme-un-jour button {
	background-color: #ff000000;
	border: 0;
	padding: 0;
}
.programme-un-jour .effect-mobile {
	text-align: center;
	width: 100%;
	padding: 10px 10px 20px 10px;
	margin-bottom: 20px;
	height: 90%;
}

.effect-mobile p {
	margin-bottom: 35px;
	font-size: 20px;
}
.effect-mobile a {
	font-size: 25px;
	color: #000;
}
.jourR {
	border-bottom: solid 2px #ae32c9;
	border-top: solid 3px #ae32c9;
}
.jourV {
	border-bottom: solid 2px #3c917d;
	border-top: solid 3px #3c917d;
}
.jourO {
	border-bottom: solid 2px #f56337;
	border-top: solid 3px #f56337;
}
.jourJ {
	border-bottom: solid 2px #e0af28;
	border-top: solid 3px #e0af28;
}

.film img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.film img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.row-jour4 .film img:hover .row-jour4 .effect-mobile,
.row-jour4 .film img:hover .row-jour4 .effect-mobile a {
	background-color: #e0af28;
	color: #fff;
}
/*************** programme hover effect *****************/
/********************************************************/
/* .hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	display: none;
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover img {
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
}

.hovereffect h2 {
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 20px;
	background-color: transparent;
	color: #fff;
	padding: 0.5em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.hovereffect a,
.hovereffect p {
	color: #fff;
	padding: 2em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
} */
/* @media screen and (min-width: 768px) {
	.hovereffect .overlay {
		display: block;
	}
}
 */
