@font-face {
	/*font-family: "courier";*/
	/*src: url("../fonts/CourierPrime.ttf");*/
	/*font-family: "openDis";*/
	/*src: url("../fonts/OpenDyslexic-Regular.otf");*/
	/*font-family: "universal";*/
	/*src: url("../fonts/Universal Serif.ttf");*/
	font-family: "just";
	src: url("../fonts/JustOldFashion.ttf");
	/*font-family: "gaston";*/
	/*src: url("../fonts/Ganton.otf");*/

}
@font-face {
	font-family: "junction";
	src: url("../fonts/Junction_02.ttf");
}

.container-fluid {
	padding: 0;
}

h2,
h1,
h3 {
	text-align: center;
	font-family: "just";
}
h2 {
	margin-bottom: 20px;
	font-size: 40px;
}
section {
	margin-bottom: 50px;
}
img {
	width: 100%;
}
hr {
	margin-top: 0;
	margin-bottom: 2rem;
	border: 0;
	border-top: 3px solid black;
	width: 50%;
}
.fontBold{
	font-family: "junction";
}
.colorR {
	color: #ae32c9;
	font-weight: 600;
}
.colorV {
	color: #1fd6b1;
	font-weight: 600;
}
.colorO {
	color: #f56337;
	font-weight: 600;
}
.colorJ {
	color: #e0af28;
	font-weight: 600;
}
.colorB {
	color: #343e56;
	font-weight: 600;
}
.textHeader{
	color: white;
}
.textHeader p{
	margin: 0;
}
/****************** headers **********************/
.headerFilm {
	background-image: url("../images/Hfilm.jpg");
	background-size: cover;
}
.headerFilm h2 {
	text-transform: uppercase;
	color: #fff;
}
.headerReservation {
	background-image: url("../images/HResa.jpg");
	background-size: cover;
}
.headerContact {
	background-image: url("../images/Hcontactt.jpg");
	background-size: cover;
}
.headerProgramme {
	background-image: url("../images/Hprogramme.jpg");
	background-size: cover;
}
/****************** headers accueil **********************/
.header {
	background-image: url("../images/fondLibre.jpg");
	background-size: cover;
	height: 90vh;
}
.header .container-fluid{
	height: 100%;
}
.container-textHeader{
height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logoHeaderHome{
	width: 80%;
}

.container-textHeader p {
	color: #fff;
	margin-bottom: 0;
	text-align: left;
	padding-left: 24px;
}
.textHeaderL2 {
	font-size: 18px;
	padding-top: 10px;
}
.textHeaderL3 {
	font-size: 20px;
}
.textHeader-paragraphe{
	margin-bottom: 70px;
}

.textHeader-pageProgramme {
	margin: 80px 0;
}
/****************** nav **********************/
.active {
	border-bottom: solid 2px #f56337;
}
.logoNavbar{
	width: 100px
}
.containerNav {
	border-bottom: solid 1px #ffffff;
}
.navbar-nav {
	margin: auto;
	font-size: 18px;
	color: #ffffff;
}
.navbar a {
	color: #ffffff;
}
.nav-link:hover,
.footerNav a:hover {
	border-bottom: solid 2px #1fd6b1;
}
.navbar-toggler,
.navbar-toggler-icon {
	border-color: white;
}
/****************** page programme **********************/
/********************************************************/
.programmeUnJour {
	margin-bottom: 40px;
}
.programmeUnJour > div {
	padding-left: 0;
	padding-right: 0;
}
.jour {
	padding-top: 23px;
	padding-bottom: 23px;
}
.jourDateContainer {
	width: 85%;
	margin: auto;
	height: 100%;
}

.jour1 .jourDate {
	color: #ae32c9;
	border-top: solid 2px #ae32c9;
	border-bottom: solid 2px #ae32c9;
	height: 100%;
}
.jour2 .jourDate {
	color: #1fd6b1;
	border-top: solid 2px #1fd6b1;
	border-bottom: solid 2px #1fd6b1;
	height: 100%;
}
.jour3 .jourDate {
	color: #f56337;
	border-top: solid 2px #f56337;
	border-bottom: solid 2px #f56337;
	height: 100%;
}
.jour4 .jourDate {
	color: #e0af28;
	border-top: solid 2px #e0af28;
	border-bottom: solid 2px #e0af28;
	height: 100%;
}
.jourDate h2 {
	margin-top: 22px;
	text-transform: uppercase;
	font-size: 27px;
}
.jour1:hover {
	background-color: #ae32c9;
}
.jour1:hover .jourDate,
.jour2:hover .jourDate,
.jour3:hover .jourDate,
.jour4:hover .jourDate {
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
	color: #fff;
}
.jour2:hover {
	background-color: #1fd6b1;
	color: #fff;
}
.jour3:hover {
	background-color: #f56337;
	color: #fff;
}
.jour4:hover {
	background-color: #e0af28;
	color: #fff;
}
.film {
	height: 251px;
	overflow: hidden;
}
.programme {
	line-height: 0;
}
.film button{
	border:0;
	padding: 0;
}
/****************** actu **********************/
#actualites hr {
	border-top: 3px solid #1fd6b1;
}
.actualite {
	text-align: center;
	margin-bottom: 20px;
}
.actualite:hover {
	border: solid 3px #1fd6b1;
	text-align: center;
}
.actualite:hover .container-actualite-text{
	background-color:#20b2aa6b;

}
.container-actualite-text{
	border-top:solid 3px #1fd6b1;
	border-bottom:solid 3px #1fd6b1;
}
.container-actualite-img{
	height: 300px;
}
.container-actualite-img img{
	max-width: 100%;
	min-height: 100%;
}
/****************** les réalisateurs **********************/
.realisateur hr {
	border-top: 3px solid #f56337;
}
.realisateur-img {
	border-radius: 50%;
	padding: 50px 50px 10px 50px;
}
.realisateur-texte {
	text-align: center;
}
/****************** qui sommes nous **********************/
.nous hr {
	border-top: 3px solid #ae32c9;
}
.nous {
	background-image: url("../images/Hnous.jpg");
	background-size: cover;
}
.nous h2 {
	color: #fff;
	padding-top: 30px;
}
.nous p {
	color: #fff;
	padding-bottom: 50px;
}
/****************** page résa **********************/
.leFilm {
	background-color: #f56337;
	color: #fff;
}
/*************** programme hover effect *****************/
/********************************************************/
.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover img {
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
}

.hovereffect h2 {
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 20px;
	background-color: transparent;
	color: #fff;
	padding: 0.5em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.hovereffect a,
.hovereffect p {
	color: #fff;
	padding: 2em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
footer {
	background-color: #202635;
}
.navbar-nav {
	display: flex;
	flex-direction: column;
}
.footerLogo {
	padding: 20px 0;
}
.footerNav {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.footerNav a {
	color: white;
	padding: 10px;
}

.btn-primary {
	background-color: #e0af28;
	border-color: #e0af28;
}
.btn-primary:hover {
	background-color: #1fd6b1;
	border-color: #1fd6b1;
}
/***************** médias query *********************/
@media screen and (min-width: 450px) {

}

@media screen and (min-width: 768px) {

	.navbar-nav {
		flex-direction: row;
	}
	.effectMobile {
		display: none;
	}
	.logoHeaderHome{
		width: 40%;
	}
	.container-textHeader p {
		padding-left: 160px;
	}
}

@media screen and (min-width: 1440px) {

}
