@import url("globalStyle.css");
@import url("programmeStyle.css");

/****************** headers **********************/
.header-film {
	background-image: url("../images/Hfilm.jpg");
	background-size: cover;
}
.header-film h2 {
	text-transform: uppercase;
	color: #fff;
}
.header-reservation {
	background-image: url("../images/HResa.jpg");
	background-size: cover;
}
.header-contact {
	background-image: url("../images/Hcontactt.jpg");
	background-size: cover;
}
.header-programme {
	background-image: url("../images/Hprogramme.jpg");
	background-size: cover;
}
/****************** headers accueil **********************/
.header {
	background-image: url("../images/fondLibre.jpg");
	background-size: cover;
	min-height: 90vh;
	margin-bottom: 50px;
}
.header .container-fluid {
	height: 100%;
}
.container-text-header {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo-header-home {
	width: 80%;
	padding-top: 10%;
}

.container-text-header p {
	color: #fff;
	margin-bottom: 0;
	text-align: left;
	padding-left: 24px;
}
.text-headerL2 {
	font-size: 18px;
	padding-top: 10px;
}
.text-headerL3 {
	font-size: 20px;
}
.text-header-paragraphe {
	margin-bottom: 70px;
}

.text-header-pageProgramme {
	margin: 80px 0;
}
/****************** nav **********************/
.navbar-light .navbar-toggler {
	color:#fff;
	border-color: #fff;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover{
	color:#fff;
}
.active {
	color: #202635;
	border-bottom: solid 2px #f56337;
}
.logo-navbar {
	width: 100px;
}
.container-nav {
	border-bottom: solid 1px #ffffff;
}
.navbar-nav {
	margin: auto;
	font-size: 18px;
	color: #ffffff;
}
.navbar-nav .nav-link {
	padding-right: 10px;
	padding-left: 10px;
}
.navbar a {
	color: #ffffff;
}
.nav-link:hover,
.footer-nav a:hover {
	border-bottom: solid 2px #3c917d;
}
.navbar-toggler,
.navbar-toggler-icon {
	border-color: white;
}
/****************** actu **********************/
#actualites hr {
	border-top: 3px solid #3c917d;
}
.actualite {
	text-align: center;
	margin-bottom: 20px;
	height: 100%;
}
.actualite-titre {
	font-size: 22px;
}
.actualite:hover {
	box-shadow: 0px 0px 0px 4px #3c917d;
	text-align: center;
}
.actualite:hover .container-actualite-text {
	background-color: #20b2aa6b;
	border-bottom: solid 3px #3c917d00;
}
.container-actualite-text {
	border-top: solid 3px #3c917d;
	border-bottom: solid 3px #3c917d;
	padding: 10px 7px 0 7px;
	min-height: 163px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.container-actualite-img img {
	max-width: 100%;
	max-height: 100%;
}
/****************** les réalisateurs **********************/
.realisateur hr {
	border-top: 3px solid #f56337;
}
.realisateur-img {
	border-radius: 50%;
	padding: 10px 10px 10px 40px;
	width: 80%;
}
.realisateur-texte {
	text-align: center;
}
.realisateur img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.realisateur img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/****************** qui sommes nous **********************/
.apropoMaj{
	text-transform: capitalize;
}
.nous hr {
	border-top: 3px solid #ae32c9;
}
.nous {
	background-image: url("../images/Hnous.jpg");
	background-size: cover;
	padding: 30px;
}
.nous h2 {
	color: #fff;
	padding-top: 30px;
}
.nous p {
	color: #fff;
	padding-bottom: 50px;
}
.nous-text{
	font-size: 18px;
}
/****************** page réservation **********************/
.leFilm {
	background-color: #f56337;
	color: #fff;
}
/****************** page une actualité **********************/
.image-article img{
	width: 70%;
}
.image-article {
	margin: 20px 0;
	text-align: center;
}
/****************** page un film **********************/
.image-film-mobile{
	display: block;
	margin-bottom: 20px;
}
.image-film-desktop,
.titre-film-mobile{
	display:none;
}
/****************** footer **********************/
footer {
	background-color: #202635;
}
.navbar-nav {
	display: flex;
	flex-direction: column;
}
.footer-logo {
	padding: 20px 0;
}
.footer-nav {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.footer-nav a {
	color: white;
	padding: 0px 10px;
}
/***************** médias query *********************/

@media screen and (min-width: 450px) {
	.realisateur-img {
		width: 50%;
	}
}
@media screen and (min-width: 768px) {
	.navbar-nav {
		flex-direction: row;
	}
	.effect-mobile {
		display: none;
	}
	.logo-header-home {
		width: 40%;
	}
	.container-text-header p {
		padding-left: 160px;
	}
	.effect-mobile {
		display: none;
	}
	.realisateur-img {
		width: 100%;
	}
	.image-film-mobile{
		display: none;
	}
	.image-film-desktop,
	.titre-film-mobile{
		display:block;
	}
	.footer-nav a {
		padding: 10px;
	}
}
